.header{
  
    margin-top: 30px;
 }
 .h{
    display:flex;
    align-items: center;
    justify-content: center;
 }
 
 .img1{
     height:450px;
     width:450px;
     margin-right: 30px;
     padding: 30px;
    
 }
 h1 {
   margin-left:30px;  
   padding:30px;
  
 }
 .img2{
     height:400px;
     width:600px;
     margin:30px;
     float: left;
 }
 .h2{
     margin: 30px;
 }
 .p1{
     margin:30px;
     margin-left:30 px;
 }
 .h3{
     margin: 30px;
 }
 .p2{
     margin:30px;
 }
 .clearfix {
     overflow: auto;
     zoom: 1;
 }
 table, th, td {
     border:1px solid black;
     border-collapse: collapse;
     text-align: center;
     
 }
 .table2{
     
     margin:30px;
     display: flex;
 }
 .table1{
     flex:1;
    
 }
 .th{
  width: 50%;
 }
 .td{
    width: 50%;
 }
 .row{
    
    display: flex;
 }
 .row1{
     float:right;
 }
 
 .list1{
     margin-top: 30px;
  
   
 }
 .list2{
     margin-top: 30px;
 }
 .list3{
     margin-top: 30px;
     
 }
 h3{
     margin: 30px;
 }
 h4{
     margin: 30px;
 }
 h5{
     margin: 30px;
 }
 h6{
     margin: 30px;
 }
 .row3{
    float: right;
     
 }
 .row4{
    float: right;
    
 }
 .row5{
    float: right;
     
 }