.header{
    
   display: flex;
   align-items:center; 
}


.row{
    display:flex;
}
.row1{
    display:flex; 
}

h1{
   
    font-size: 3.2em;  
   
}
h2{
    margin:30px; 
  
}
h4 {
    margin:30px; 
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
 
 }
 
.row2{
    margin:10px;
}
.clearfix {
    overflow: auto;
  }
